@use '@/app/consts';

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  text-align: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.title {
  color: consts.$foreground-accent-light;
}
.subtitle {
  margin: 8px;
  font-style: italic;
}

.search {
  margin-top: 32px;
  width: 100%;
}